body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a {
    text-decoration: none; color: black;
}

a:hover {
    color: black;
}

.dropdown-content {
    width: auto;
    box-sizing: border-box;
    margin: 1rem 1rem;
}

.dropdown-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.modal-backdrop {
    z-index: 1;
}

.modal-title {
    pointer-events: none;
}

.modal-content {
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.modal-body {
    box-sizing: border-box;
    margin: 0.5rem 0.5rem;
}

.modal-box {
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
}

.modal-box-alt {
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    width: 180px;
    border-width: 1px;
}

.modal-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.modal-row-alt {
    margin-left: 2rem;
    display: flex;
    justify-content: left;
    margin-bottom: 1rem;
}

.modal-row-alter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header {
    position: relative;
    box-sizing: inherit;
    z-index: 10;
    padding: 1rem 1rem;
}

.header-navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header-navbar-start {
    padding-right: 1rem;
    margin-right: 0;
    flex: 1;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
}

.header-navbar-logo {
    box-sizing: inherit;
    display: block;
}

.logo{
    display: block;
    max-width: 100%;
    height: auto;
}

.header-navbar-middle {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
}

.header-menu {
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
   margin: 0;
   padding: 0;
   list-style: none; 
   margin-block-start: 1rem;
   margin-block-end: 1rem;
   padding-inline-start: 40px;
   gap: 70px;
   font-size: 20px;
}

.header-navbar-end {
    padding-left: 1rem;
    flex: 1;
    position: relative;
    z-index: 2;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logsign-btn {
    border: none;
}

.error-modal {
    border: none;
    border-radius: 5px;
}

.background {
    position: absolute;
    right: 0; left: 0; top: 0;
    overflow: hidden; height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.wrapper {
    justify-content: flex-start;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding-left: 6vw;
    padding-right: 6vw;
    position: relative;
}

.wrapper-content {
    padding-top: 400px;
}

.title {
    font-size: 40px;
    font-weight: normal;
    pointer-events: none;
}

.subtitle {
    font-size: 25px;
    font-weight: normal;
    pointer-events: none;
    padding-bottom: 10px;
}

.wrapper-button {
    padding: 10px 15px 10px 15px;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    position: relative;
    align-items: flex-start;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    background-color: #eef138b6;
    border-radius: 20px;
    justify-content: flex-start;
    margin-left: 20px;
    box-sizing: content-box;
}

.home-page {
    background-color: #f4f4f4;
    display: block;
    margin-top: 9.8rem;
}

.home-page-alt {
    background-color: #f4f4f4;
    display: block;
}

.section-one {
    background-color: white;
    width: 85%; height: 390px;
    margin: auto; display: block; position: relative;
    align-content: center;
    padding: 4rem;
}

.section-columns {
    margin-bottom: 2rem;
    flex-wrap: nowrap;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

.section-one-content {
    flex-basis: 0;
    flex-grow: 1;
}

.section-two-content {
    flex-basis: 0;
    flex-grow: 1;
}

.section-three-content {
    flex-basis: 0;
    flex-grow: 1;
}

.section-one-img {
    margin: 0 0 1rem;
    margin-bottom: 2rem;
    box-sizing: inherit;
    display: block;
}

.section-two-img {
    margin: 0 0 1rem;
    margin-bottom: 2rem;
    box-sizing: inherit;
    display: block;
}

.section-three-img {
    margin: 0 0 1rem;
    margin-bottom: 2rem;
    box-sizing: inherit;
    display: block;
}

.one-img {
    margin-left: auto;
    margin-right: auto;
    display: table;
    align-content: center;
}

.two-img {
    margin-left: auto;
    margin-right: auto;
    display: table;
    align-content: center;
}

.three-img {
    margin-left: auto;
    margin-right: auto;
    display: table;
    align-content: center;
}

.section-h {
    margin-bottom: 1rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.stamp-list {
    padding-top: 2rem;
    margin: auto;
    display: block;
    position: relative;
    width: 85%;
    align-content: center;
    box-sizing: border-box;
}

.stamp-list-row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    justify-content: space-between;
}

.list-row-element {
    margin-bottom: 2rem;
}

.element-block {
    border-radius: 5px;
    background-color: white;
    display: flex;
    padding: 1.5rem;
}

.element-block-alt {
    border-radius: 5px;
    background-color: white;
    padding: 1.5rem;
}

.element-header {
    margin-bottom: 0;
    position: relative;
}

.element-img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.element-content {
    display: block;
    align-items: center;
    margin-left: 2rem;
}

.list-content {
    align-items: center;
    margin: auto;
    display: flex;
}

.list-content-container {
    width: 200px; height: 130px;
    border: solid;
    border-radius: 5px;
}

.carousel {
    display: none;
}

.list-content:hover .carousel {
    display: block;
    position: absolute;
    overflow: hidden;
    background-size: cover;
    width: 200px;
    height: 130px;
    margin-top: 15.5rem;
    border-radius: 5px;
    z-index: 200;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.d-block {
    background: white;
    background-size: cover;
}

.vendor-info {
    display: flex;
    align-items: center;
}

.vendor-info-alt {
    align-items: center;
    padding-bottom: 0.5rem;
}

.vendor-img {
    padding-bottom: 0.5rem;
}

.vendor-name {
    white-space: nowrap;
    margin-top: 0.5rem;
    word-wrap: break-word;
    text-align: center;
    font-weight: 300;
}

.vendor-name-alt {
    white-space: nowrap;
    word-wrap: break-word;
    text-align: center;
    font-weight: 300;
}

.content-footer {
    display: block;
    align-items: center;
}

.footer-attributes {
    display: flex;
    justify-content:flex-start;
}

.section-typestamp {
    width: 85%; height: auto;
    display: block;
    position: relative;
    align-content: center;
    margin: auto;
    padding-top: 1rem;
}

.typestamp-row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-around;
    margin: 1rem 1rem;
}

.tyst-row-element {
    border-radius: 5px;
    box-shadow: 0 5px 30px rgb(7 36 86 / 8%);
    background-color: white;
    position: relative;
    padding: 1rem 1rem 1.5rem;
    transition: transform 0.25s;
}

.stamp-img {
    display: block;
    width: 300px;
    height: auto;
}

.section-blog {
    width: 85%; height: auto;
    position: relative;
    background-image: url("images/Materiale\ Sito\ web/DEF_sfondo.jpg");
    object-fit: cover;
    background: linear-gradient(180deg, rgb(251,175,59) 0%,rgb(225,114,52) 100%);
    margin: auto;
    display: block;
    margin-top: 3rem;
    padding: 3rem;
    z-index: 1;
    box-sizing: inherit;
    align-content: center;
}

.blog-columns {
    margin-top: 2rem;
    display: flex;
    align-content: space-between;
}

.section-newsletter {
    background-color: rgb(204, 204, 204);
    width: 85%; height: 320px;
    display: block;
    position: relative;
    align-content: center;
    margin: auto;
    margin-top: 4rem;
}

.newsletter-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    box-sizing: inherit;
    padding-left: 3rem;
    padding-right: 3rem;
}

.newsletter-columns {
    margin-bottom: 0;
    flex-wrap: nowrap;
    display: flex;
    box-sizing: border-box;
}

.newsletter-column1 {
    flex-basis: 0;
    flex-grow: 1;
}

.newsletter-column2 {
    flex-basis: 0;
    flex-grow: 1;
}

.column-h {
    margin-bottom: 1rem;
    margin-top: 0;
    text-align: center;
    font-size: 30px;
}

.column-p {
    padding-top: 1rem;
    text-align: center;
    font-weight: 400;
}

.newsletter-form {
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    border: thin;
}

.checkmark-form {
    margin-right: 0.7rem;
    width: 15px; height: 15px;
}

.button-form {
    background-color: orange;
    border-radius: 20px;
    padding: 0.3rem 0.5rem;
    width: 7rem;
    border-style: groove;
}

.button-form-alt {
    background-color: orange;
    border-radius: 20px;
    padding: 0.3rem 0.5rem;
    width: 10rem;
    border-style: groove;
    font-size: 18px;
}

.button-form-alter {
    background-color: orange;
    border-radius: 20px;
    padding: 0.3rem 0.5rem;
    width: 9rem;
    border-style: groove;
    font-size: 16px;
}

.button-form-alternative {
    background-color: orange;
    border-radius: 20px;
    padding: 0.3rem 0.5rem;
    width: 15rem;
    height: 4rem;
    border-style: groove;
    font-size: 16px;
}

.footer {
    flex-wrap: nowrap;
    padding: 1.5rem 0;
    box-sizing: inherit;
    display: flex;
    position: relative;
    padding-right: 2rem;
    padding-left: 2rem;
    width: 100%;
}

.footer-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    width: 100%;
}

.footer-navbar-logo {
    box-sizing: inherit;
    display: block;
}

.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 50px;
}

.social-icons {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 30px;
}

.whoarewe {
    width: 75%; height: auto;
    position: relative;
    background-color: white;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.fa-hand-o-up {
    height: 50px; width: 50px;
}

.logIn-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    width: 380px;
}

.signIn-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
}

.fa-question-circle-o {
    color: orange;
    margin-left: -4rem;
}

.tip-text {
    width: 175px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background: rgb(235, 176, 67);
    padding: 10px;
    font-size: 12px;
    border-radius: 5px;
    color: #fff;
    transition: .5s ease-in-out;
    box-sizing: border-box;
    text-align: left;
    transition: opacity .3s;
}

.fa-question-circle-o:hover + .tip-text{
    visibility: visible;
    opacity: 1;
    margin-left: 9rem;
}

.contact-content {
    width: 80%; height: auto;
    position: relative;
    background-color: white;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.content-cols {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 8rem;
    margin-right: 8rem;
}

.announcement {
    margin-top: 2rem;
}

.announcement-row {
    align-items: center;
    margin-top: 1rem ;
    display: flex;
    gap: 5rem;
    justify-content: space-between;
}

.announcement-col {
    margin-top: 1rem;
    text-align: left;
    display:block;
}

.announcement-check input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 0;
    margin-left: -10px;
}

.announcement-check label {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    border: solid;
    border-width: 2px; 
    border-radius: 25px;
    border-color: orange;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5rem;
    user-select: none;
}

.announcement-check label:hover {
    background-color: rgba(255, 166, 0, 0.592);
    
}
  
.announcement-check input[type="checkbox"]:active + label {
    background-color: rgba(255, 166, 0, 0.592);
}
  
.announcement-check input[type="checkbox"]:checked + label {
    background-color: rgba(255, 166, 0, 0.592);
    border-color: rgba(255, 166, 0, 0.592);
}

.file-stl {
    width: 300px;
    height: 300px;
    border: solid;
}

.stl-row {
    align-items: center;
    margin-top: 2rem ;
    display: flex;
    justify-content: space-around;
}

.up-choose input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: 0;
    margin-left: -1px;
}

.up-choose label {
    cursor: pointer;
    display: inline-block;
    padding: 10px 25px;
    font-size: 16px;
    border: solid;
    border-width: 2px; 
    border-radius: 25px;
    border-color: orange;
    margin-right: auto;
    margin-left: 15px;
    user-select: none;
}

.up-choose label:hover {
    background-color: rgba(255, 166, 0, 0.592);
    transition: opacity .5s;
}
  
.up-choose input[type="radio"]:focus + label {
    background-color: rgba(255, 166, 0, 0.592);
    transition: opacity .5s;
}
  
.up-choose input[type="radio"]:checked + label {
    background-color: rgba(255, 166, 0, 0.592);
    border-color: rgba(255, 166, 0, 0.592);
}

.content-ProfileUser {
    width: 80%; height: auto;
    position: relative;
    background-color: white;
    margin: auto;
    padding-top: 3rem;
    text-align: center;
}

.info-header {
    width: 460px;
    height: auto;
    margin-left: 23rem;
    margin-right: 23rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 2rem auto 2rem auto;
}

.info-header-alt { 
    width: 460px;
    height: auto;
    margin-left: 23rem;
    margin-right: 23rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 3rem;
}

.info-row {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
}

.info-col {
    text-align: left;
    line-height: 2.5rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.avatar {
    border-width: 1px;
    border-style: solid;
    width: 150px; 
    height: 150px;
    margin-top: 2rem;
}

.collapsible-menu {
    display: flex;
    gap: 1rem;
    background-color: rgba(255, 166, 0, 0.695);
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 16   px;
}

.collapsible-menu:hover {
    background-color: rgba(255, 166, 0, 0.478);
}

.active{
    background-color: rgba(255, 166, 0, 0.695);
}

.content-collapsible {
    padding: 2rem;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.content-elements {
    display: flex;
    justify-content: space-around;
}

.collapsible-menu:before {
    content: "\02795";
    font-size: 15px;
    margin-left: 5px;
}
 
.collapsible-menu.active:before{
    content: "\02796";
}

.alert-complete {
    align-items: center;
    justify-content: center;
    width: auto;
    background: rgb(241, 188, 91);
    padding: 10px;
    font-size: 15px;
    margin-top: -3rem;
    color: white;
}

.alert-text {
    margin-left: 2rem;
}

.info-radio {
    height: 15px;
    width: 15px;
}

.info-radio-lbl {
    margin-left: -4rem;
}

.info-lbl {
    text-align: center;
}

.fa-pencil {
    margin-left: 1rem;
    align-items: center;
}

.info-complete-box {
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    align-items: center;
    line-height: 15px;
}


.blog {
    width: 80%; height: auto;
    position: relative;
    background-color: white;
    margin: auto;
}

.blog-content {
    display: flex;
}

.blog-col1 {
    width: 70%;
    height: auto;
    margin: 3rem;
}

.blog-col2 {
    width: 30%;
    height: 500px;
    border: solid;
    margin: 3rem;
}

.blog-article {
    width: auto;
    height: 700px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}