body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a {
    text-decoration: none; color: black;
}

a:hover {
    color: black;
}

.dropdown-content {
    width: auto;
    box-sizing: border-box;
    margin: 1rem 1rem;
}

.dropdown-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.modal-backdrop {
    z-index: 1;
}

.modal-title {
    pointer-events: none;
}

.modal-content {
    height: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.modal-body {
    box-sizing: border-box;
    margin: 0.5rem 0.5rem;
}

.modal-box {
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
}

.modal-box-alt {
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    width: 180px;
    border-width: 1px;
}

.modal-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.modal-row-alt {
    margin-left: 2rem;
    display: flex;
    justify-content: left;
    margin-bottom: 1rem;
}

.modal-row-alter {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header {
    position: relative;
    box-sizing: inherit;
    z-index: 10;
    padding: 1rem 1rem;
}

.header-navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header-navbar-start {
    padding-right: 1rem;
    margin-right: 0;
    flex: 1;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
}

.header-navbar-logo {
    box-sizing: inherit;
    display: block;
}

.logo{
    display: block;
    max-width: 100%;
    height: auto;
}

.header-navbar-middle {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
}

.header-menu {
   justify-content: center;
   display: flex;
   flex-wrap: wrap;
   margin: 0;
   padding: 0;
   list-style: none; 
   margin-block-start: 1rem;
   margin-block-end: 1rem;
   padding-inline-start: 40px;
   gap: 70px;
   font-size: 20px;
}

.header-navbar-end {
    padding-left: 1rem;
    flex: 1;
    position: relative;
    z-index: 2;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logsign-btn {
    border: none;
}

.error-modal {
    border: none;
    border-radius: 5px;
}

.btn-close:focus {
    box-shadow: none;
}

.background {
    position: absolute;
    right: 0; left: 0; top: 0;
    overflow: hidden; height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.wrapper {
    justify-content: flex-start;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding-left: 6vw;
    padding-right: 6vw;
    position: relative;
}

.wrapper-content {
    padding-top: 400px;
}

.title {
    font-size: 40px;
    font-weight: normal;
    pointer-events: none;
}

.subtitle {
    font-size: 25px;
    font-weight: normal;
    pointer-events: none;
    padding-bottom: 10px;
}

.wrapper-button {
    padding: 10px 15px 10px 15px;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border: none;
    position: relative;
    align-items: flex-start;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    background-color: #eef138b6;
    border-radius: 20px;
    justify-content: flex-start;
    margin-left: 20px;
    box-sizing: content-box;
}

.home-page {
    background-color: #f4f4f4;
    display: block;
    margin-top: 9.8rem;
}

.home-page-alt {
    background-color: #f4f4f4;
    display: block;
}

.section-one {
    background-color: white;
    width: 85%; height: 390px;
    margin: auto; display: block; position: relative;
    align-content: center;
    padding: 4rem;
}

.section-columns {
    margin-bottom: 2rem;
    flex-wrap: nowrap;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

.section-one-content {
    flex-basis: 0;
    flex-grow: 1;
}

.section-two-content {
    flex-basis: 0;
    flex-grow: 1;
}

.section-three-content {
    flex-basis: 0;
    flex-grow: 1;
}

.section-one-img {
    margin: 0 0 1rem;
    margin-bottom: 2rem;
    box-sizing: inherit;
    display: block;
}

.section-two-img {
    margin: 0 0 1rem;
    margin-bottom: 2rem;
    box-sizing: inherit;
    display: block;
}

.section-three-img {
    margin: 0 0 1rem;
    margin-bottom: 2rem;
    box-sizing: inherit;
    display: block;
}

.one-img {
    margin-left: auto;
    margin-right: auto;
    display: table;
    align-content: center;
}

.two-img {
    margin-left: auto;
    margin-right: auto;
    display: table;
    align-content: center;
}

.three-img {
    margin-left: auto;
    margin-right: auto;
    display: table;
    align-content: center;
}

.section-h {
    margin-bottom: 1rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.stamp-list {
    padding-top: 2rem;
    margin: auto;
    display: block;
    position: relative;
    width: 85%;
    align-content: center;
    box-sizing: border-box;
}

.stamp-list-row {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    justify-content: space-between;
}

.list-row-element {
    margin-bottom: 2rem;
}

.element-block {
    border-radius: 5px;
    background-color: white;
    display: flex;
    padding: 1.5rem;
}

.element-block-alt {
    border-radius: 5px;
    background-color: white;
    padding: 1.5rem;
}

.element-header {
    margin-bottom: 0;
    position: relative;
}

.element-img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.element-content {
    display: block;
    align-items: center;
    margin-left: 2rem;
}

.list-content {
    align-items: center;
    margin: auto;
    display: flex;
}

.list-content-container {
    width: 200px; height: 130px;
    border: solid;
    border-radius: 5px;
}

.carousel {
    display: none;
}

.list-content:hover .carousel {
    display: block;
    position: absolute;
    overflow: hidden;
    background-size: cover;
    width: 200px;
    height: 130px;
    margin-top: 15.5rem;
    border-radius: 5px;
    z-index: 200;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.d-block {
    background: white;
    background-size: cover;
}

.vendor-info {
    display: flex;
    align-items: center;
}

.vendor-info-alt {
    align-items: center;
    padding-bottom: 0.5rem;
}

.vendor-img {
    padding-bottom: 0.5rem;
}

.vendor-name {
    white-space: nowrap;
    margin-top: 0.5rem;
    word-wrap: break-word;
    text-align: center;
    font-weight: 300;
}

.vendor-name-alt {
    white-space: nowrap;
    word-wrap: break-word;
    text-align: center;
    font-weight: 300;
}

.fa-comment {
    margin-top: 0.5rem;
    margin-right: 1rem;
    color: rgb(255, 115, 0);
    cursor: pointer;
    opacity: 1;
    text-decoration: none;
}

.chat-style1 {
    height: 300px;
    width: 250px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    display: none;
    position: absolute;
    z-index: 200;
    background-color: white;
    margin-left: 2rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.chat-style2 {
    height: 300px;
    width: 250px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    display: none;
    position: absolute;
    z-index: 200;
    background-color: white;
    margin-left: 2rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.chat-style3 {
    height: 300px;
    width: 250px;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.5px;
    display: none;
    position: absolute;
    z-index: 200;
    background-color: white;
    margin-left: 2rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.mb-3 {
    height: 12.8%;
}

.form-control {
    border-top-left-radius: 0;
    border-bottom-left-radius: 10px;
}

.form-control:focus {
    box-shadow: none;
    border-color: inherit;
}

.btn-outline-secondary {
    border-top-right-radius: 0;
    border-bottom-right-radius: 10px;
    background-color: orange;
}

.btn-outline-secondary:hover {
    background-color: orange;
}

.btn-outline-secondary:focus {
    box-shadow: none;
    border-color: black;
}

.fa-heart {
    margin-top: 0.5rem;
    color: rgb(255, 115, 0);
    cursor: pointer;
    opacity: 1;
    text-decoration: none;
}

.content-footer {
    display: block;
    align-items: center;
}

.footer-attributes {
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.section-typestamp {
    width: 85%; height: auto;
    display: block;
    position: relative;
    align-content: center;
    margin: auto;
    padding-top: 1rem;
}

.typestamp-row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-around;
    margin: 1rem 1rem;
}

.tyst-row-element {
    border-radius: 5px;
    box-shadow: 0 5px 30px rgb(7 36 86 / 8%);
    background-color: white;
    position: relative;
    padding: 1rem 1rem 1.5rem;
    transition: transform 0.25s;
}

.stamp-img {
    display: block;
    width: 300px;
    height: auto;
}

.section-blog {
    width: 85%; height: auto;
    position: relative;
    background-image: url("images/Materiale\ Sito\ web/DEF_sfondo.jpg");
    object-fit: cover;
    background: linear-gradient(180deg, rgb(251,175,59) 0%,rgb(225,114,52) 100%);
    margin: auto;
    display: block;
    margin-top: 3rem;
    padding: 3rem;
    z-index: 1;
    box-sizing: inherit;
    align-content: center;
}

.blog-columns {
    margin-top: 2rem;
    display: flex;
    align-content: space-between;
}

.section-newsletter {
    background-color: rgb(204, 204, 204);
    width: 85%; height: 320px;
    display: block;
    position: relative;
    align-content: center;
    margin: auto;
    margin-top: 4rem;
}

.newsletter-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    box-sizing: inherit;
    padding-left: 3rem;
    padding-right: 3rem;
}

.newsletter-columns {
    margin-bottom: 0;
    flex-wrap: nowrap;
    display: flex;
    box-sizing: border-box;
}

.newsletter-column1 {
    flex-basis: 0;
    flex-grow: 1;
}

.newsletter-column2 {
    flex-basis: 0;
    flex-grow: 1;
}

.column-h {
    margin-bottom: 1rem;
    margin-top: 0;
    text-align: center;
    font-size: 30px;
}

.column-p {
    padding-top: 1rem;
    text-align: center;
    font-weight: 400;
}

.newsletter-form {
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    border: thin;
}

.checkmark-form {
    margin-right: 0.7rem;
    width: 15px; height: 15px;
}

.button-form {
    background-color: orange;
    border-radius: 20px;
    padding: 0.3rem 0.5rem;
    width: 7rem;
    border-style: groove;
}

.button-form-alt {
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.button-form-alt + label {
    font-size: 18px;
    width: 10rem;
    padding: 0.3rem 0.5rem;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    align-self: center;
    color: black;
    background-color: orange;
    display: inline-block;
}

.button-form-alt:focus + label,
.button-form-alt + label:hover {
    background-color: orange;
}

.button-form-alt + label {
	cursor: pointer;
}

.button-form-alter {
    background-color: orange;
    border-radius: 20px;
    padding: 0.3rem 0.5rem;
    width: 9rem;
    border-style: groove;
    font-size: 16px;
}

.button-form-alternative {
    background-color: orange;
    border-radius: 20px;
    padding: 0.3rem 0.5rem;
    width: 15rem;
    height: 4rem;
    border-style: groove;
    font-size: 16px;
}

.button-form-alternative-btn {
    background-color: orange;
    border-radius: 20px;
    padding: 0.3rem 0.5rem;
    width: auto;
    border-style: groove;
}

.footer {
    flex-wrap: nowrap;
    padding: 1.5rem 0;
    box-sizing: inherit;
    display: flex;
    position: relative;
    padding-right: 2rem;
    padding-left: 2rem;
    width: 100%;
}

.footer-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    width: 100%;
}

.footer-navbar-logo {
    box-sizing: inherit;
    display: block;
}

.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 50px;
}

.social-icons {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 30px;
}

.whoarewe {
    width: 75%; height: auto;
    position: relative;
    background-color: white;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.fa-hand-o-up {
    height: 50px; width: 50px;
}

.logIn-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
    width: 380px;
}

.signIn-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: auto;
}

.fa-question-circle-o {
    color: orange;
    position: relative;
    margin-left: 1rem;
}

.tip-text {
    width: 175px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background: rgb(235, 176, 67);
    padding: 10px;
    font-size: 12px;
    border-radius: 5px;
    color: #fff;
    transition: .5s ease-in-out;
    box-sizing: border-box;
    text-align: left;
    transition: opacity .3s;
    z-index: 10;
}

.fa-question-circle-o:hover + .tip-text{
    visibility: visible;
    opacity: 1;
    margin-left: 9rem;
}

.tip-text-alt {
    width: 175px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background: rgb(235, 176, 67);
    padding: 10px;
    font-size: 12px;
    border-radius: 5px;
    color: #fff;
    transition: .5s ease-in-out;
    box-sizing: border-box;
    text-align: left;
    transition: opacity .3s;
    z-index: 10;
}

.fa-question-circle-o:hover + .tip-text-alt{
    visibility: visible;
    position: absolute;
    opacity: 1;
    margin-top: 4rem;
}

.contact-content {
    width: 80%; height: auto;
    position: relative;
    background-color: white;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.content-cols {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 8rem;
    margin-right: 8rem;
}

.announcement {
    margin-top: 2rem;
}

.announcement-row {
    align-items: center;
    margin-top: 1rem ;
    display: flex;
    gap: 5rem;
    justify-content: space-between;
}

.announcement-col {
    margin-top: 1rem;
    text-align: left;
    display:block;
}

.announcement-check input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 0;
    margin-left: -10px;
}

.announcement-check label {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    border: solid;
    border-width: 2px; 
    border-radius: 25px;
    border-color: orange;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5rem;
    user-select: none;
}

.announcement-check label:hover {
    background-color: rgba(255, 166, 0, 0.592);
    
}
  
.announcement-check input[type="checkbox"]:active + label {
    background-color: rgba(255, 166, 0, 0.592);
}
  
.announcement-check input[type="checkbox"]:checked + label {
    background-color: rgba(255, 166, 0, 0.592);
    border-color: rgba(255, 166, 0, 0.592);
}

.file-stl {
    width: 300px;
    height: 300px;
    border: solid;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stl-row {
    align-items: center;
    margin-top: 2rem ;
    display: flex;
    justify-content: space-around;
}

.up-choose input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: 0;
    margin-left: -1px;
}

.up-choose label {
    cursor: pointer;
    display: inline-block;
    padding: 10px 25px;
    font-size: 16px;
    border: solid;
    border-width: 2px; 
    border-radius: 25px;
    border-color: orange;
    margin-right: auto;
    margin-left: 15px;
    user-select: none;
}

.up-choose label:hover {
    background-color: rgba(255, 166, 0, 0.592);
    transition: opacity .5s;
}
  
.up-choose input[type="radio"]:focus + label {
    background-color: rgba(255, 166, 0, 0.592);
    transition: opacity .5s;
}
  
.up-choose input[type="radio"]:checked + label {
    background-color: rgba(255, 166, 0, 0.592);
    border-color: rgba(255, 166, 0, 0.592);
}

.content-ProfileUser {
    width: 80%; height: auto;
    position: relative;
    background-color: white;
    margin: auto;
    padding-top: 3rem;
    text-align: center;
}

.info-header {
    width: 460px;
    height: auto;
    margin-left: 23rem;
    margin-right: 23rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 2rem auto 2rem auto;
}

.info-header-alt { 
    width: 460px;
    height: auto;
    margin-left: 23rem;
    margin-right: 23rem;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 3rem;
}

.info-row {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
}

.info-col {
    text-align: left;
    line-height: 2.5rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.avatar {
    border-width: 1px;
    border-style: solid;
    width: 150px; 
    height: 150px;
    margin-top: 2rem;
}

.collapsible-menu {
    display: flex;
    gap: 1rem;
    background-color: rgba(255, 166, 0, 0.695);
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 16px;
}

.collapsible-menu:hover {
    background-color: rgba(255, 166, 0, 0.478);
}

.active{
    background-color: rgba(255, 166, 0, 0.695);
}

.content-collapsible {
    padding: 2rem;
    display: none;
    background-color: #f1f1f1;
}

.content-elements {
    display: flex;
    justify-content: space-around;
}

.content-elements-alt {
    display: block;
    justify-content: space-around;
}

.collapsible-menu:before {
    content: "\02795";
    font-size: 15px;
    margin-left: 5px;
}
 
.collapsible-menu.active:before{
    content: "\02796";
}

.alert-complete {
    align-items: center;
    justify-content: center;
    width: auto;
    background: rgb(241, 188, 91);
    padding: 10px;
    font-size: 15px;
    margin-top: -3rem;
    color: white;
}

.alert-text {
    margin-left: 2rem;
}

.info-radio {
    height: 15px;
    width: 15px;
}

.info-radio-lbl {
    margin-left: -4rem;
}

.info-lbl {
    text-align: center;
}

.fa-pencil {
    margin-left: 1rem;
    align-items: center;
}

.info-complete-box {
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    align-items: center;
    line-height: 15px;
}

.chat-section {
    margin: 2rem 8rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    display: flex;
    height: 500px;
}

.chat-history {
    width: 40%;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    overflow-y: auto;
    border-right: inherit;
    
}

.chat-history::-webkit-scrollbar {
    width: 7px;
}

.chat-history::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
}

.chat-display {
    width: 75%;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    flex-direction: column;
    border-left: inherit;
}

.chat-history-element {
    width: 100%;
    padding: 1rem;
    flex-direction: row;
    align-items: center;
    height: 15%;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0px;
    border-left-width: 0px;
    display: flex;
    border-right: none;
} 

.chat-history-element:hover {
    background-color: rgb(240, 178, 63);
}

.chat-img-user {
    border-style: solid;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 0 1rem 0 0;
    position: relative;
}

.chat-msg-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    box-sizing: border-box;
}

.chat-actions {
    flex: 1;
    max-width: 10.5rem;
    align-items: center;
}

.btn-msg {
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
    text-align: left;
    line-height: normal;
    padding: 0 0 0 0;
}

.badge-time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-items: center;
}

.top-chat {
    height: 15%;
    display: flex;
    align-items: center;
    padding: 0 15px 0 15px;
    border-bottom: solid;
    border-width: 1px;
}

.user-msg {
    text-align: left;
    line-height: normal;
    font-size: large;
    cursor: default;
}

.user-options-btn {
    border: none;
    display: block;
}

.user-options-btn:focus {
    background-color: transparent;
}

.user-options-btn.active {
    background-color: #f1f1f1;
}

.user-options-btn::after {
    background-color: transparent;
}

.user-options {
    position: absolute;
    display: none;
    background: rgb(194, 194, 194);
    border-radius: 10px;
    transition: all .3s ease;
    padding: 0.5rem;
    text-align: left;
    margin-top: 12.5rem;
    margin-left: 29rem;
}

.user-options.active:focus {
    background-color: transparent;
}

.user-options ul {
    list-style: none;
    transition: all .3s ease;
    margin: -2px;
}

.user-options li {
    line-height: 40px;
}

.user-options a {
    position: relative;
    margin-left: -20px;
    margin-right: 10px;
}

.msg-chat {
    height: 77%;
    overflow-y: auto;
}

.msg-chat-alt {
    overflow-y: auto;
    height: 87.2%;
}

.msg-chat::-webkit-scrollbar {
    width: 7px;
}

.msg-chat::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
}

.msg-chat-alt::-webkit-scrollbar {
    width: 5px;
}

.msg-chat-alt::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 10px;
}

.list-group {
    list-style: none;
}

.list-group-item-sent {
    max-width: calc(100% - 220px);
    align-self: flex-end;
    margin: 15px 15px 5px 15px;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 7px 10px 7px 10px;
    background-color: rgb(240, 178, 63);
}

.list-group-item-sent-alt {
    align-self: flex-end;
    margin: 9px 9px 3px 9px;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 7px 10px 7px 10px;
    background-color: rgb(240, 178, 63);
}

.list-group-item-received {
    max-width: calc(100% - 220px);
    align-self: flex-start;
    text-align: left;
    font-size: 15px;
    margin: 15px 15px 5px 15px;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 7px 10px 7px 10px;
    background-color: rgb(211, 211, 211);
}

.list-group-item-received-alt {
    align-self: flex-start;
    text-align: left;
    font-size: 15px;
    margin: 9px 9px 3px 9px;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 7px 10px 7px 10px;
    background-color: rgb(211, 211, 211);
}

.msg-divider {
    align-self: center;
    font-size: 12px;
    color: white;
    border: solid;
    border-radius: 15px;
    border-width: 1px;
    margin: 0.2rem 0;
    background-color: rgba(253, 181, 48, 0.747);
    width: fit-content;
    cursor: default;
    padding: 2px 10px;
    border-color: rgba(253, 181, 48, 0.747);
}

.msg-content {
    text-align: left;
    font-size: 15px;
    margin-bottom: 0.5rem;
}

.msg-time {
    font-size: 10px;
    text-align: right;
}

.msg-write {
    height: 8%;
    border-top: solid;
    border-width: 1px;
    z-index: 10;
    width: 100%;
    align-items: center;
}

.input-msg {
    float: left;
    height: 100%;
    padding: 0 0 0 0;
    width: 90%;
    padding-left: 10px;
    align-items: center;
    word-wrap: break-word;
    word-break: break-all;
}

.msg-send {
    margin: 3px 0 0 0;
    border: none;
    align-content: center;
}

.fa-arrow-circle-right {
    color: orange;
}

.text-bg-warning {
    background-color: orange;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.3rem
}

.payment-wrapper {
    margin: 0 2rem 0 2rem;
}

.payment-content {
    border-style: none;
    border-radius: 10px;
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.pay-row {
    align-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;   
}

.pay-wrap-section {
    font-size: 20px;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
}

.pay-pal {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.input-group {
    justify-content: flex-end;
}

.input-group-text {
    background-color: rgba(255, 166, 0, 0.695);
    color: white;
    border-color: black;
    border-width: 2px;
    align-content: center;
}

.blog {
    width: 80%; height: auto;
    position: relative;
    background-color: white;
    margin: auto;
}

.blog-content {
    display: flex;
    justify-content: space-between;
}

.blog-col1 {
    width: 70%;
    height: fit-content;
    margin: 3rem;
}

.blog-article {
    width: auto;
    height: 700px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 2rem;
}

.article-img {
    height: 58%;
    width: auto;
    object-fit: contain;
    text-align: center;
}

.article-description {
    height: 38%;
    width: auto;
}

.blog-row {
    display: flex;
    margin: 1rem;
    gap: 0.5rem;
}

.blog-categories-btn {
    font-size: 12px;
    border-style: none;
    border-radius: 5px;
    background: linear-gradient(180deg, rgb(251, 136, 59) 0%,rgb(225,114,52) 100%);
    padding: 5px;
    color: white;
}

.article-title {
    font-weight: 500;
    font-size: 25px;
    margin: 1rem;
}

.article-label {
    font-weight: 400;
    font-size: 17px;
    margin: 1rem;
}

.article-badge {
    height: 8%;
    display: flex;
    margin: 1rem;
    align-items: center;
    justify-content: space-between;
}

.badge-first-sec {
    align-items: center;
    display: flex;
}

.badge-second-sec {
    font-size: 15px;
    font-weight: 300;
}

.blog-col2 {
    width: 30%;
    height:fit-content;
    margin: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.blog-categories {
    margin: 1.5rem 2rem;
    font-size: 23px;
}

.blog-categories-elem {
    font-size: 17px;
    cursor: pointer;
    color: rgb(111, 107, 107);
}

.blog-categories-elem:hover {
    color: orange;
}

.blog-archives {
    margin: 1.5rem 2rem;
    font-size: 23px;
}

.blog-archives-elem {
    font-size: 17px;
    cursor: pointer;
    color: rgb(111, 107, 107);
}

.blog-archives-elem:hover {
    color: orange;
}

.makers {
    width: 80%; height: auto;
    position: relative;
    background-color: white;
    margin: auto;
}

.search-section {
    padding: 1.5rem 12rem 0.5rem 12rem;
}

.input-group-text-alt {
    width: 7%;
    background-color: orange;
    border: solid;
    border-width: 1px;
    border-color: #ced4da;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.fa-search {
    color: white;
}

.search input {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.makers-section {
    display: flex;
    justify-content: space-between;
}

.makers-filter {
    padding: 2rem;
    width: 30%;
    height: fit-content;
    margin: 2rem;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-color: #ced4da;
}

.makers-profiles {
    height: fit-content;
    width: 70%;
    margin: 2rem 2rem 1rem 1rem;
}

.form-check-label {
    cursor: pointer;
}

.form-check-input:focus {
    box-shadow: none;
}

.makers-row {
    display: flex;
    justify-content: space-around;
    margin: 0 0 2rem 0;
}

.makers-card {
    width: 45%;
    height: 250px;
    border: solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-color: #ced4da;
    border-width: 1px;
}

.makers-propic {
    width: 120px;
    height: 120px;
    border: solid;
    border-width: 1px;
    cursor: pointer;
    margin: 8% 30% 2% 30%;
}

.makers-info {
    text-align: center;
    padding: 0.5rem 6rem 0;
}

.makers-info-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -5px 1rem;
}

.star-rating {
    cursor: default;
}

.fa-star {
    color: gold;
}

.makers-nav-arrows {
    text-align: center;
    padding-bottom: 1rem;
    align-items: center;
}

.btn-nav {
    background-color: orange;
    border-color: orange;
    color: white;
    border-radius: 50%;
}

.btn-nav:hover {
    background-color: rgba(255, 166, 0, 0.663);
    border-color: rgba(255, 166, 0, 0.663);
    color: white;
}

.btn-nav:focus {
    background-color: rgb(255, 189, 68);
    border-color: orange;
    box-shadow: none;
}
